<div class="page-title">About Me</div>
<p>
Welcome to my home online. I love programming even before I become an Electronics Engineer. It took me years though to realize that I can make a living out of it. So at the age of 40, I pursue my passion professionally and I'm glad I did. Now I am happy exploring new technologies everyday and will continue to keep coding and build interesting projects. 
</p>
<p>
My churchmates and friends call me Elmer. However in dev world, i'm "eibay". I finished my diploma in Electronics Technology in 1995 as full-time scholar from Meralco Foundation Institute. Right after graduation, I was employed as electronics technician at Allegro Microsystems. While working, I pursue my degree in Electronics and Communications Engineering from Technological University of the Philippines and graduated in 1999. 
<p>
I started coding in 2003 using Visual Basic and created several test automation projects and desktop application for manufacturing. During the recession period in 2008, my interest grew in web development. I found myself crazy about building websites using CMS such as Wordpress, Joomla, Drupal and Social Engine. I found my first dev job as an SEO Web Developer / Manager. However, I realize that I love building applications rather than promoting websites on search engines. So I quit. Semiconductor market picks up so I'm back to my Field Engineering job to pay my bills.</p> 
<p>
In 2013, I co-founded Solprov, where we build Queue Management System with sms and online web view for customer's to see current queue on mobile phone and be notified a few minutes prior to their turn. My 12 weeks bootcamp study at General Assembly - Melbourne in 2015 became my turning point in my life that opens my whole understanding and realization of the power of full stack development. 
</p>
<p>
 I am blessed with 3 children named: Yanah, Ice and Elijel. I am happily married to Eeyan. I was born in Manila but raised in Quezon City by my hardworking parents, Adolfo and Lourdes together living with my only older brother, Alberto.
 I moved to Singapore in 2001 and discovered the real meaning and purpose in life by knowing the messiah and true God, who is Jesus. Several years later, I met my wife who happened to be a believer as well. We got married in 2004. In 2015, another blessing and new chapter of our family life starts again as we explore our new home now here in Melbourne, Australia. I thank God for all the wonderful provisions He has given us as we serve Him daily.
</p>
<p>
If I am not coding, I write praise and worship songs together with my wife and play guitar, drums or keyboard with my children during our family bonding time.
</p>
