<h4>About Me</h4>
<p>
Welcome to my home online. I love programming even before I become an Electronics Engineer. It took me a few years though to realize that I can make a living out of it. So at the age of 40, I decided to pursue my passion and I'm glad I did. Now I am happy exploring new technologies everyday and will continue to keep coding and build interesting projects. 
</p>
<br />
<p>
My churchmates and friends simply call me by my first name, Elmer however in dev world, it's "eibay". I am blessed with 3 children named: Yanah, Ice and Elijel. I am happily married to Eeyan since 2004. I was born in Manila but raised in Quezon City by my hardworking parents, Adolfo and Lourdes together living with my only older brother, Alberto. I finished my diploma in Electronics Technology in 1995 as full-time scholar from Meralco Foundation Institute. Right after graduation, I was successfully employed as an electronics technician at Allegro Microsystems. While working, I decided to pursue my degree in Electronics and Communications Engineering from Technological University of the Philippines and graduated in 1999. 
</p>
<br />
<p>
By the year 2001, I moved to Singapore and discovered the importance of having a true relationship with Jesus Christ. Several years later, I met my wife who happened to be a believer as well. We got married in 2004 and entrusted with 3 wonderful children. In 2015, another blessing and new chapter of our life starts again as we explore our new home where God lead us to go here in Melbourne Australia. I thank God for all the wonderful provisions He has given for the past 15 years.
</p>
<br />
<p>
If I am not coding, I write praise and worship songs together with my wife and play guitar, drums or keyboard with my children during our family bonding time.
</p>
