<h2>kEeP iN tOuCh</h2>
    <div class="contact">
      <p>Feel free to leave your feedback or write any comments if you would like keep in touch with me
         by filling up your details using the form below.
      </p>
      <div class="form">
          <form action="/success">
          <input name="name" placeholder="your name please" type="text"><br />
          <input name="email" placeholder="username@mail.com" type="text"><br />
          <textarea cols="41" rows="10" placeholder="Please type your feedback / comment / message here."></textarea><br />
          <input type="submit" value="Submit">
          </form>
      </div>
    </div>