<!DOCTYPE html>
<html>
<head>
    <!-- <link href="/normalize.css" rel="stylesheet"> -->
    <title>Elmer Ibayan's Home</title>
    <link rel="stylesheet" href="css/style.css"/>

    <link rel="stylesheet" href="css/jquery-ui.css"/>

    <script type="text/javascript" src="jquery/jquery.js"></script>
    <script type="text/javascript" src="jquery/jquery-ui.js"></script>

    <link href='http://fonts.googleapis.com/css?family=Sigmar+One' rel='stylesheet' type='text/css'>

    <script type="text/javascript">
        $("document").ready(function() {
           $("#accordionCtrl").accordion({
                collapsible: true,
                event: "click mouseover"
            });
        });
    </script>
    <header>
      <!--
      <img src="http://eicodes.com/ga/elmer-shrek-small.jpg">
    -->
      <img src="images/elmer-shrek-small.jpg">
      <h1>Welcome To My Home</h1>
      <div class="verseText">
         <p> I am the vine your are the branches. If a man remains in me and I in Him,
         he will bear much fruit; apart from Me, you can do nothing.
         <span class="verse">- John 15:5</span></p>
      </div>
    </header>
</head>
<body>

    <div class="about">
      <h2>About Me</h2>
      <p>
      Welcome to my new home online. My churchmates and friends simply call me by my first name, Elmer.
      I am blessed with 3 children named: Yanah, Ice and Elijel. I am happily married to Eeyan for 11
      years now. I was born in Manila but raised in Quezon City by my very responsible and hardworking parents, Adolfo and
      Lourdes together living with my only older brother, Albert. I finished my diploma in Electronics Technology in 1995 as full-time scholar from Meralco Foundation Institute.
      Right after graduation, I was successfully employed as an electronics technician at Allegro
      Microsystems. While working, I pursued my degree in Electronics and Communications Engineering from Technological
      University of the Philippines and graduated in 1999. By the year 2001, I moved to Singapore and discovered the
      importance of having a true relationship with Jesus Christ. Several years later, I met my wife who happened to be
      a believer as well. We got married in 2004 and entrusted with 3 wonderful children. This year of 2015, another
      blessing and new chapter of our life begins as we explore our new home which God is calling us
      to go and occupy. God willing, our family is moving to Melbourne Australia by the end of this year.
      I thank God for all the wonderful provisions He has given me eversince I've known Him
      for the past 15 years. Indeed, without Him, I will never bear fruit because apart from Him, I
      can do nothing.
      </p>
    </div>



    <h2>My Personal Information</h2>

    <div class="info">
      <div id="accordionCtrl">
          <h3>Name</h3>
          <div>
              <p>Elmer Tabios Ibayan</p>
          </div>
          <h3>Birthday</h3>
          <div>
              <p>February 14, 1975</p>
              <p></p>
          </div>
          <h3>Address</h3>
          <div>
              <p>291D Compassvale Street 14-276 Singapore 544291</p>
          </div>
          <h3>Phone Number</h3>
          <div>
              <p>Mobile: 65-85337585</p>
              <p>Home: 65-66120291</p>
          </div>
          <h3>eMail</h3>
          <div>
              <p>eibayan@gmail.com</p>
          </div>
      </div>
    </div>
    <h2>Keep In Touch</h2>
    <div class="contact">
      <p>Feel free to leave your feedback or write any comments if you would like keep in touch with me
         by filling up your details using the form below.
      </p>
      <div class="form">
          <form method="post">
          <input type="name" placeholder="your name please"><br />
          <input type="email" placeholder="username@mail.com"><br />
          <textarea cols="41" rows="10" placeholder="Please type your feedback / comment / message here."></textarea><br />
          <input type="submit" value="Submit">
          </form>
      </div>
    </div>

</body>
</html>
