<h3>GamEs</h3>
<div id="main">

    <div id="board" style="display:none">
      <div class="matrix" id='0' data-row="0" data-col="0"></div>
      <div class="matrix" id='1' data-row="0" data-col="1"></div>
      <div class="matrix" id='2' data-row="0" data-col="2"></div>
      <div class="matrix" id='3' data-row="1" data-col="0"></div>
      <div class="matrix" id='4' data-row="1" data-col="1"></div>
      <div class="matrix" id='5' data-row="1" data-col="2"></div>
      <div class="matrix" id='6' data-row="2" data-col="0"></div>
      <div class="matrix" id='7' data-row="2" data-col="1"></div>
      <div class="matrix" id='8' data-row="2" data-col="2"></div>
      <div class="gameWinner"></div>
      <div class="gameDraw"></div>
    </div> <!--end of board-->
    
    <div class="profile" id="player1" style="display:none">
      <h3 class="name" id="p1-name"></h3>
      <h2 class="score" id="p1-score">0</h2>
      <h3 class="match" id="p1-match">"free"</h3>
      <div class="avatar" id="p1-avatar"></div>
      <h5 class='resetBtn'id="p1-reset"></h5>     
    </div>

    <div class="profile" id="player2" style="display:none">
      <h3 class="name" id="p2-name"></h3>
      <h2 class="score" id="p2-score">0</h2>
      <h3 class="match" id="p2-match">"slave"</h3>
      <div class="avatar" id="p2-avatar"></div>
      <h5 class='resetBtn' id="p2-reset"></h5>
    </div>

    

  </div> <!--end of main-->