
<div class="carousel carousel-slider center">
    <a class="carousel-item " href="https://cfa-dtf.herokuapp.com" target="_blank"><img src="/img/profile/dtf.png"></a>
    <a class="carousel-item" href="https://shopcarte.herokuapp.com" target="_blank"><img src="/img/profile/shopcarte.png"></a>
    <a class="carousel-item" href="http://solprov.com.sg" target="_blank"><img src="/img/profile/solprov.png"></a>
    <a class="carousel-item" href="http://gospler.com" target="_blank"><img src="/img/profile/gospler.png"></a>
    <a class="carousel-item" href="http://www.eibayan.com/game" target="_blank"><img src="/img/profile/tictactoe.png"></a>
    <a class="carousel-item" href="https://salv7.herokuapp.com" target="_blank"><img src="/img/profile/salv.png"></a>
</div>
<br />
<div class="carousel-fixed-item center">
  <button class="btn waves-effect white grey-text darken-text-2" id="prevProfile">
    PREV
  </button>
  <button class="btn waves-effect white grey-text darken-text-2" id="nextProfile">
    NEXT
  </button>
</div>