<h2>mY iNfo</h2>
<div class="info">
  <div id="accordionCtrl">
    <h3>Name</h3>
    <div>
        <p>Elmer Tabios Ibayan</p>
    </div>
    <h3>Birthday</h3>
    <div>
        <p>February 14, 1975</p>
        <p></p>
    </div>
    <h3>Address</h3>
    <div>
        <p>291D Compassvale Street 14-276 Singapore 544291</p>
    </div>
    <h3>Phone Number</h3>
    <div>
        <p>Mobile: 65-85337585</p>
        <p>Home: 65-66120291</p>
    </div>
    <h3>eMail</h3>
    <div>
        <p>eibayan@gmail.com</p>
    </div>
  </div>
</div>