<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Eibay</title>
  <link rel="stylesheet" href="/css/reset.css">
  <link rel="stylesheet" href="/css/jqueryui.css"/>
  <link href='http://fonts.googleapis.com/css?family=Sigmar+One' rel='stylesheet' type='text/css'>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="/css/game.css">
  <link rel="stylesheet" href="/css/materialize.css">
  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="/css/button.css">
  <link href="https://fonts.googleapis.com/css?family=Asap" rel="stylesheet">

</head>
<nav>
  <div class="nav-wrapper" id="nav-bar">
    <span class="brand-logo left">
      <a href="/">
        <img id="head-img" src="/img/eibay.jpg" >
      </a>
    </span>
    <ul id="nav">
      <li class="hvr-grow"><a href="/">PROJECTS</a></li>
      <li class="hvr-grow"><a href="/about">ABOUT</a></li>
      <li class="hvr-grow">
        <a href="https://github.com/eibay" target="_blank">
          <i class="fa fa-2x fa-github" aria-hidden="true"></i>
        </a>
      </li>
      </li>
      <li class="hvr-grow">
        <a href="https://www.linkedin.com/in/elmeribayan/" target="_blank">
          <i class="fa fa-2x fa-linkedin-square" aria-hidden="true"></i>
        </a>
      </li>
      <li class="hvr-grow">
        <a href="mailto:eibayan@gmail.com" >
          <i class="fa fa-2x fa-envelope" aria-hidden="true"></i>
        </a>
      </li>
      <li class="hvr-grow">
        <a href="tel:+61448164328" >
          <i class="fa fa-2x fa-phone-square" aria-hidden="true"></i>
        </a>
      </li>      
    </ul>
  </div>
</nav>
<body>
<%= yield %>
 
  <script type="text/javascript" src="/js/jquery.js"></script>
  <script type="text/javascript" src="/js/underscore.js"></script>
  <script type="text/javascript" src="/js/jqueryui.js"></script>
  <script src="https://use.fontawesome.com/8904938232.js"></script>
  <script type="text/javascript" src="/js/app.js"></script>
  <script type="text/javascript" src="/js/game.js"></script>
  <script type="text/javascript" src="/js/materialize.min.js"></script>
  <script type="text/javascript" src="/js/home.js"></script>
  <script type="text/javascript">
  </script>
</body>
</html>