<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Eibay Folio</title>
  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="/css/jqueryui.css"/>
  <link href='http://fonts.googleapis.com/css?family=Sigmar+One' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="/css/game.css">
  <link rel="stylesheet" href="/css/materialize.min.css">

</head>
<header>
      <img id="head-img" src="/img/elmer-shrek-small.jpg">
      <h1>Welcome To My eFolio</h1>
      <div class="verseText">
         <p> I am the vine your are the branches. If a man remains in me and I in Him,
         he will bear much fruit; apart from Me, you can do nothing.
         <span class="verse">- John 15:5</span></p>
      </div>
</header>

<body>
  <div id="nav">
    <ul>
      <li class="hvr-grow"><a href="/">Home</a></li>
      <li class="hvr-grow"><a href="/about">About</a></li>
      <li class="hvr-grow"><a href="/contact">Contact</a></li>
      <li class="hvr-grow"><a href="/info">Info</a></li>
      <li class="hvr-grow"><a href="/game">Game</a></li>
    </ul>
  </div>
<%= yield %>
 
  <script type="text/javascript" src="/js/jquery.js"></script>
  <script type="text/javascript" src="/js/underscore.js"></script>
  <script type="text/javascript" src="/js/jqueryui.js"></script>
  <script type="text/javascript" src="/js/app.js"></script>
  <script type="text/javascript" src="/js/game.js"></script>
  <script type="text/javascript" src="/js/materialize.min.js"></script>
  <script type="text/javascript" src="/js/home.js"></script>
  <script type="text/javascript">
  $("document").ready(function() {
    $("#accordionCtrl").accordion({
        collapsible: true,
        event: "click mouseover"
    });
  });
  </script>
</body>
</html>