<div>
  <div class="carousel-fixed-item center">

  </div>

  <div class="page-title">
    <span align="left">
      Product Portfolio
    </span>
    <button class="waves-effect waves-light btn" id="prevProfile">
      <i class="fa fa-arrow-circle-left" aria-hidden="true"></i>
    </button>
    <button class="waves-effect waves-light btn" id="nextProfile">
      <i class="fa fa-arrow-circle-right" aria-hidden="true"></i>
    </button>
  </div>

  <div class="carousel-fixed-item center">

  </div>
</div>

<div class="carousel carousel-slider center">
    <a class="carousel-item " href="https://cfa-dtf.herokuapp.com" target="_blank"><img src="/img/profile/dtf.png"></a>
    <a class="carousel-item" href="https://shopcarte.herokuapp.com" target="_blank"><img src="/img/profile/shopcarte.png"></a>
    <%# <a class="carousel-item" href="http://solprov.com.sg" target="_blank"><img src="/img/profile/solprov.png"></a> %>
    <!-- <a class="carousel-item" href="http://gospler.com" target="_blank"><img src="/img/profile/gospler.png"></a> -->
    <a class="carousel-item" href="http://eibayan.com/game" target="_blank"><img src="/img/profile/tictactoe.png"></a>
    <a class="carousel-item" href="http://eibays.com/salv/" target="_blank"><img src="/img/profile/salv.png"></a>
    <a class="carousel-item" href="http://www.likhart.com" target="_blank"><img src="/img/profile/likhart.png"></a>
    <a class="carousel-item" href="https://eibay.github.io/myreads-react-md/" target="_blank"><img src="/img/profile/myeBookz.png"></a>
    <a class="carousel-item" href="http://gethn.herokuapp.com" target="_blank"><img src="/img/profile/gethn.png"></a>
    

</div>
