<h3>Projects Profile</h3>
<div class="carousel carousel-slider center">
    <a class="carousel-item " href="https://cfa-dtf.herokuapp.com" target="_blank"><img src="/img/profile/dtf.png"></a>
    <a class="carousel-item" href="https://shopcarte.herokuapp.com" target="_blank"><img src="/img/profile/shopcarte.png"></a>
    <a class="carousel-item" href="http://solprov.com.sg" target="_blank"><img src="/img/profile/solprov.png"></a>
    <a class="carousel-item" href="http://gospler.com" target="_blank"><img src="/img/profile/gospler.png"></a>
    <a class="carousel-item" href="http://www.eibayan.com/game" target="_blank"><img src="/img/profile/tictactoe.png"></a>
    <a class="carousel-item" href="https://salv7.herokuapp.com" target="_blank"><img src="/img/profile/salv.png"></a>
</div>
<br />
<div class="carousel-fixed-item center">
  <button class="waves-effect waves-light btn" id="prevProfile"><i class="medium material-icons left">navigate_before</i></button>
   <button class="waves-effect waves-light btn" id="nextProfile"><i class="medium material-icons left">navigate_next</i></button>
</div>